extends layout

block content
  if !session.evernoteAccountBound
    p
      a(href="/auth/oauth") Link with evernote!
  p
    a(href="/auth/logout") Logout

  p
    a(href="/tasks/syncNotebooks") SYnc notebooks
  p
    a(href="/tasks/view/nextActions") Next actions
  
