<div class='container'>
  <div class='row'>
    <div class='col-md-offset-4 col-md-4 well'>
      <form action='/auth/register' method='POST' role='form'>

        <div clas='form-group'>
          <label for='username'>
            Username
          </label>
          <input id='username' type='text' name='username'/>
        </div>

        <div clas='form-group'>
          <label for='email'>
            Email
          </label>
          <input id='email' type='text' name='email'/>
        </div>

        <div clas='form-group'>
          <label for='password'>
            Password
          </label>
          <input id='password' type='password' name='password'/>
        </div>
       
        <button class='btn btn-default' type='submit'>
          Register
        </button>
      </form>

      <a href='/auth/login' class='center'>Login</a>

    </div>
  </div>
</div>

<!-- 
vim: et sw=2 ts=2: 
-->
